<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>

  <meta name="author" content="Luc, Phil, Lukas"/>
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>

</head>

<body onload = "drawEncounters(<%= JSON.stringify(encountersUser) %>, <%= JSON.stringify(encountersAnimal) %>, <%= JSON.stringify(userRoutes) %>, false), getCurrentTime()">

  <div class="wrapper">

    <% include partials/header.ejs %>

    <main role="main" class="container-fluid" id="main">
      <div id="message" class="row">
        <% include partials/message.ejs %>
      </div>
      <div class="row">
        <div class="col-12" style="margin-top: 20px; margin-bottom: 10px;">
          <details>
            <summary>Tier-Daten hinzufügen</summary>
            <p>
              <div class="alert alert-warning">
                <span class="oi oi-paperclip" aria-hidden="true"></span>
                Hinweis: Movebank ist eine international zugängliche Datenbank für Tierbewegungen. Um zu
                überprüfen, ob Sie eine Begegnung mit einer bestimmten Tierart auf Ihrer Route hatten, benötigen
                Sie mindestens die Study-ID und den Sensortypen. Diese Informationen erhalten Sie über
                <a href="https://www.movebank.org" target="_blank">movebank.org.</a>
                Dort kann man verschiedene Tierarten auswählen und die von uns benötigten Informationen einsehen.
                (Ausgenommen sind Studien, die eine seperate Zertifizierung bedürfen.)
              </div>
            </p>

            <form action="/api/movebank" method="POST">
              <label>Study ID</label>
              <input type="text" name="study_id" value="" required/>
              <label>Sensor Typ</label>
              <input type="text" name="sensor_type" value="" required/>
              <label>Individual Local Identifier</label>
              <input type="text" name="individual_local_identifier" value="" placeholder="Eingabe optional"/>
              <button class="submitButton" type="submit" onclick="changeCursor('progress'), submit()">Tier-Daten hinzufügen</button>
            </form>
          </details>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="margin-top: 20px; margin-bottom: 10px;">
          <details>
            <summary>Filter</summary>

            <input class="currentUserId" type="text" hidden name="currentUserId" value="<%= user._id %>"/>
            erstelle
            <label style="margin: 0px;">
              <input type="radio" name="real" checked/>
              alle
            </label> oder nur
            <label style="margin: 0px;">
              <input class="real" type="radio" name="real" value="true"/>
              tatsächliche
            </label> bzw.
            <label style="margin: 0px;">
              <input class="real" type="radio" name="real" value="false"/>
              theorethische
            </label>
            Begegnungen mit
            <ul style="list-style: none;">
              <li>
                <label style="margin: 0px;">
                  <input id="user" type="checkbox" onclick="isChecked('user', 'user', <%= JSON.stringify(userAll.length) %>)" checked/>
                  allen Nutzern
                </label>
              </li>
              <li>
                <label style="margin: 0px;">
                  <input class="user" id="user 0" type="checkbox" name="user" value="<%= user._id %>" onclick="isChecked('user 0', 'user', <%= JSON.stringify(userAll.length) %>)" checked="true"/>
                  mir selbst
                </label>
              </li>
              <% if (typeof(userAll) !== 'undefined') {%>
                <% var index = 0 %>
                <% for(var i = 0; i < userAll.length; i++) {%>
                  <% if (JSON.stringify(userAll[i]._id) !== JSON.stringify(user._id)) {%>
                    <li>
                      <label style="margin: 0px;">
                        <input class="user" id="user <%=index+1%>" type="checkbox" name="user" value="<%= userAll[i]._id %>" onclick="isChecked('user <%=index+1%>', 'user', <%= JSON.stringify(userAll.length) %>)" checked="true"/>
                        <%= userAll[i].username %>
                      </label>
                    </li>
                    <% index = index + 1 %>
                  <% } %>
                <% } %>
              <% } %>
            </ul>

            <% if (typeof(animal) !== 'undefined' && animal.length > 0) {%>
              <ul style="list-style: none;">
                <li>
                  <label style="margin: 0px;">
                    <input id="animal" type="checkbox" onclick="isChecked('animal', 'animal', <%= JSON.stringify(animal.length) %>)" checked/>
                    allen Tierarten
                  </label>
                </li>
                <% for(var i = 0; i < animal.length; i++) {%>
                  <li>
                    <label style="margin: 0px;">
                      <table><tr><th style="padding:0px;">
                        <input class="animal" id="animal <%= i %>" type="checkbox" name="animal" value="<%= animal[i]%>" onclick="isChecked('animal <%= i %>', 'animal', <%= JSON.stringify(animal.length) %>)" checked/>
                        <a href='https://de.wikipedia.org/wiki/<%= animal[i] %>' target="_blank" title="Wikipedia: <%= animal[i] %>"><%= animal[i] %></a></th>
                        <th style="padding: 0px 0px 0px 2px;">
                          <form action="api/movebank/update" method="Post">
                            <input name="individual_taxon_canonical_name" type="text" hidden value="<%= animal[i] %>"/>
                            <button class="btn-transparent submitButton" onclick="changeCursor('progress'), submit()"type="submit"><span class="oi oi-reload" title="<%= animal[i] %> aktualisieren"></span></button>
                          </form></th></tr>
                        </table>
                      </label>
                    </li>
                  <% } %>
                </ul>
              <% } %>

              auf den Routen mit
              <label style="margin: 0px;">
                <input type="radio" name="routeType" checked/>
                jedem Typ
              </label> oder nur den Typ
              <label style="margin: 0px;">
                <input class="type" type="radio" name="routeType" value="Aufnahme"/>
                "Aufnahme"
              </label> bzw.
              <label style="margin: 0px;">
                <input class="type" type="radio" name="routeType" value="Planung"/>
                "Planung",
              </label>
              die vor dem
              <label style="margin: 0px;"> Datum
                <input id="datepicker" class="date" type="date" name="date" value="" />
                <input id="timepicker" class="date" type="time" name="date" value="" />
              </label> erstellt wurden.
              <br>
              <button onclick="ajaxCallFilter()">Filtern</button>

            </details>

            <div id="encounters" style="margin-top: 20px; margin-bottom: 44.2px;">
            </div>

          </main>
        </div>

        <% include partials/footer.ejs %>

      </body>
      </html>

      <script src="/leaflet/leaflet.js"></script>

      <script src="/turf/turf.min.js"></script>

      <script src="/jquery/jquery.min.js"></script>

      <script src="/bootstrap/js/bootstrap.min.js"></script>

      <script src="/javascripts/mousecursor.js"></script>

      <script src="/token/token.js"></script>

      <script src="/javascripts/map.js"></script>

      <script src="/javascripts/updateEncounterStatus.js"></script>

<script src="/jsnlog/jsnlog.min.js"></script>

<script src="/javascripts/drawMap.js"></script>

      <script src="/javascripts/filter.js"></script>
